@import 'tailwindcss';

@theme {
  --font-poppins-semibold: Poppins-SemiBold, sans-serif;
  --font-poppins-medium: Poppins-Medium, sans-serif;
  --font-poppins-light: Poppins-Light, sans-serif;
  --font-anton-regular: Anton-Regular, sans-serif;

  --breakpoint-840: 52.5rem;

  --color-primary-gray-1: #45525a;
  --color-primary-gray-2: #2c3a42;
  --color-primary-gray-3: #aaaaaa;
  --color-primary-gray-4: #020202;
  --color-secondary-blue-1: #4492f8;
  --color-secondary-blue-2: #80cff6;
  --color-gray-hover-1: #d7d7d7;

  --spacing-1000: 1000px;
  --spacing-14rem: 14rem;
  --spacing-10rem: 10rem;

  --spacing-8rem: 8rem;
  --spacing-6rem: 6rem; 

  --animate-float-one: float 1.5s ease-in-out alternate infinite;
  --animate-float-two: float 2s ease-in-out alternate infinite;
  --animate-nav-display: displayNavText 0.2s ease-in-out 1 forwards; 

  --shadow-inset-custom-1: 5px 5px 20px 10px rgba(0, 0, 0, 0.15) inset,
    -5px -5px 20px 10px rgba(0, 0, 0, 0.15) inset, 20px 20px 0px 0px #2c3a42;

  --breakpoint-xs: 30rem;

  @keyframes float {
    0% {
      transform: translateY(-7%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes displayNavText {
    0%{
      opacity: 50%;
      transform: translateX(0%);
    }
    100%{
      opacity: 100%;
      transform: translateX(7%);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url('./assets/fonts/Poppins-SemiBold.ttf') format("woff2");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url('./assets/fonts/Poppins-Medium.ttf') format("woff2");
}

@font-face {
    font-family: "Poppins-Light";
    src: url('./assets/fonts/Poppins-Light.ttf') format("woff2");
}

@font-face {
    font-family: "Anton-Regular";
    src: url('./assets/fonts/Anton-Regular.ttf') format("woff2");
}

.Toastify__progress-bar--success {
  @apply bg-secondary-blue-1;
}

.Toastify__progress-bar--error {
  @apply bg-red-500;
}