:root{
    --main-color: rgb(0,0,0);

}

*{
    margin: 0;
    box-sizing: border-box;
}

nav ul, #information ul{
    list-style: none;
    display: flex;
    padding: 0;
}

a{
    color: var(--main-color);
    
}

ion-icon{
    font-size: 2.2rem;
}

nav{
    display: flex;
    padding: 0 2rem;
    height: 5rem;  
    justify-content: center;
    align-items: center;
}

.title{
    margin-left: auto;
}

nav ul li a{
    margin: 0 2.5rem 0 0;
    text-decoration: none;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapform{
    display: flex;
    flex-direction: column;

}

